// COLORS
$yellowSun: #fed136;
$title: #222222;
$description: #777777;
$bg-portfolio: #f7f7f7;
$bg-icon-twitter: #26b6e5;
$bg-icon-facebook: #3b5998;
$bg-icon-googlePlus: #bb202f;
$bg-icon-pinterest: #cb2028;

// SIZES VALUES
$size-txt-descriptions: 1.3em;
$mb-description: 15px;
$value-about-us: 140px;
$value-pourcentage: 50%;
